body {
  background-color: #732FCC;
  margin:0;
}

/* navigation bar */
#page-title {
  text-align: center;
  padding-top:20px;
}



/* headings */

h2 {
  font-family: Futara;
}
/* header */
.hd {
  grid-area: hd;
  background-color: #755A99;
  width:100%;
  margin: 0 auto;



}

/* footer */
.ft {
  grid-area: ft;

}
/* landing page image links */
.albumCategory {
  text-align: center;
}

.albumCategoryImg {
  border-style: solid;
  padding-top: 30px;
  border-width: 2px;
  border-color: #732FCC;
  max-width: 100%;
  height: auto;
}
.albumCategoryImg:hover {
  border-radius: 10px;
  border-color: #755A99;
}
.kora {
  grid-area: kora;

}

.mazie {
  grid-area: mazie;
}

.finn {
  grid-area: finn;
}

.gridContainer {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "hd   hd    hd"
  "kora mazie finn"
  "ft   ft    ft";
}
